# package directories
.node_modules
node_modules
jspm_packages
faker

# Serverless directories
.serverless

# Webpack directories
.webpack
.webpackCache/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
misc.xml
modules.xml
react-aws-amlify.iml
vcs.xml
.idea
Project_Default.xml
.build
coverage
